@tailwind base;
@tailwind components;
@tailwind utilities;

/* .navbar {
    position: relative;
    background-color: #f1f9fc;
    padding:  1rem;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.75rem;
    transition: all 0.2s ease;
} */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: transparent;
    backdrop-filter: blur(50px);
}



